* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #F4F4F4;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(207,255,243,1) 26%, rgba(255,136,17,1) 89%);
}

.container {
    margin: auto;
    width: 500px;
    max-width: 90%;
    border: 2px solid white;
    border-radius: 10px;
}

.container {
    color: white;
}

.container form {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: black;
    border-radius: 10px; 
}

.container h1 {
    text-align: center;
    margin-bottom: 24px;
}

.form-input {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}

.form-box {
    color: white;
}

.boton {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    margin-left: 50%;
    width: 120px;
    height: 34px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    color: white;
    background-image: black;
    transition: .5s;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 7px 0px 0px 0px;
}

.boton:hover {
    opacity: .7;
    background: linear-gradient(90deg, rgba(207,255,243,1) 26%, rgba(255,136,17,1) 89%);
    color: black;

}